<mat-card>
    <mat-card-content>
        <form class="example-form" >

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>

                            <select class="custom-select example-full-width" >
                                <option value="" disabled>Select</option>
                              
                                  <option>cocacola</option>
                             
                              </select>
                            
                            
                    </td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Qty.</mat-label>
                            <input matInput placeholder="1" >
                        </mat-form-field>
                    </td>
                    <td><mat-form-field class="example-full-width">
                            <mat-label>Price</mat-label>
                            <input matInput placeholder="0" >
                        </mat-form-field>
                    </td>
                    <td>
                        <div class='example-button-row'>
                            <button type="submit" class="example-full-width" mat-raised-button color="primary">Add</button>
                        </div>
                        
                    </td>
                </tr>
            </table>

        </form>
    </mat-card-content>


</mat-card>