<mat-card>
    <mat-card-content>

        <table class="mat-elevation-z8">
                   
            <tbody>
                <tr>
                  <td>Total Qty</td>
                  <td>10</td>
                </tr>
                <tr>
                    <td>Summary Total</td>
                    <td>10</td>
                  </tr>
                  <tr>
                    <td>Summary Tax</td>
                    <td>16</td>
                  </tr>
                  <tr>
                    <td>Summary NetTotal</td>
                    <td>1160</td>
                  </tr>
            </tbody>

        </table>

    </mat-card-content>

</mat-card>