<mat-card>
    <mat-card-content>
        <table class="mat-elevation-z8">
            <thead>
                <tr>
                    <th align="center">Sl.No</th>
                    <th align="center">Code</th>
                    <th align="center">Name</th>
                    <th align="center">Price</th>
                    <th align="center">Qty</th>
                    <th align="center">Total</th>
                    <th align="end">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                  <td align="center">slno</td>
                  <td align="center">code</td>
                  <td align="center">name</td>
                  <td align="center">price</td>
                  <td align="center">qty</td>
                  <td align="center">total</td>
                  <td align="end">
                    <button  mat-raised-button color="accent" >Edit</button> | 
                    <button  mat-raised-button color="warn" >Delete</button>
                  </td>
                </tr>
            </tbody>

        </table>
          
          
    </mat-card-content>

</mat-card>